.item-image {
    cursor: pointer;
    position: relative;
    width: 100%;
    border-radius: 5px;

    .item-label {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        background-color: rgb(236, 227, 227);
    }
}
