<div class="feature-header">
    <div class="search">
        <a routerLink="/" class="inline-block pointer">
            <img src="/assets/icons/facebook-icon.svg" alt="{{ 'header.facebook' | translate }}" width="40" height="40">
        </a>
        <div class="inline-block">
            <app-search-fb></app-search-fb>
        </div>
    </div>
    <div class="feature">
        <div class="inline-block">b</div>
        <div class="inline-block">b</div>
    </div>
    <div class="account">account</div>
</div>
