.feature-header {
    background-color: white;
    width: 100%;
    height: 56px;
    display: flex;

    div {
        position: fixed;
    }

    .search {
        left: 0px;
    }

    .account {
        right: 0px;
    }

    .feature {
        justify-content: center;
    }
}
